html {
  position: relative;
  min-height: 100%;
}

body {
    ckground: url("/images/background.jpg");
    background: #f9f9f9;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    margin: 40px;
    font-family: 'Open Sans', 'sans-serif';
    background-color: #fff;
    color: #444;
}
