html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

a {
    color: gray;
}

.well {
    background-color: rgba(245, 245, 245, 0.6);
}