{{#partial "content"}}
    {{#if locations}}
        {{#each locations}}
            <h1>Location</h1>
            <ul>
                <li>State:<br> {{locationState}}</li><br><br>
            </ul>
        {{/each}}
    {{/if}}


    <ul>
    {{#if hikes}}
        <h1>List of Hikes</h1>
        {{#each hikes}}
            <ul>
                <li>Hike Name: {{hikeName}}</li>
            </ul>
        {{/each}}
    {{/if}}

    </ul>


{{/partial}}

{{> layout.hbs}}