{{#partial "content"}}


    <ul>
    {{#if hikes}}
        <h1>List of Hikes</h1>
        {{#each hikes}}
            <ul>
                <li>Hike Name: {{hikeName}}<a href="/hikes/{{id}}"><br>read more...</a></li>
            </ul>
        {{/each}}
    {{/if}}

    </ul>


{{/partial}}

{{> layout.hbs}}