{{#partial "content"}}
    {{#if locations}}
        {{#each locations}}
            <p>Location</p>
            <ul>
                <li>State:<br> {{locationState}}</li><br><br>
            </ul>
        {{/each}}
    {{/if}}

    <h1>List of Hikes</h1>
    <ul>
    {{#if hikes}}
        {{#each hikes}}
            <ul>
                <li>{{hikeName}} hikeName</li>
            </ul>
        {{/each}}
    {{/if}}

    </ul>


{{/partial}}

{{> layout.hbs}}