{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title></title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/main.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Quattrocento+Sans" rel="stylesheet">

    </head>
    <body>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/" class="active">See All Hikes and Locations</a></li>
        <li role="presentation"><a href="/hikes/new">Add Hike</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Locations <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{#if locations}}
                    {{#each locations}}
                        <li><a href="/locations/{{id}}">{{locationState}}</a></li>
                    {{/each}}
                    <li><a href="/locations/new">Add a Location</a></li>

                {{else}}
                    <li><a href="/locations/new">Add a Location</a></li>
                {{/if}}
            </ul>
        </li>
    </ul>
{{/block}}
<div class="container">
    <div class="page-header">

    </div>

    <div class="col-md-12 well flex">
        <h1>Welcome to the best hike tracker! <br></h1>
    </div>
    <div class="well">
    {{#block "content"}}
    {{/block}}
    </div>
</div>
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="/locations/delete">Delete all Locations</a></p>
            <p class="text-muted"><a href="/hikes/delete">Delete all Hikes</a></p>
        </div>
    </footer>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}