{{#partial "content"}}
    {{#if locations}}
        <p>Location</p>
            <ul>
                <li>State:<br> {{locations.locationState}}</li><br><br>
            </ul>
            <a href="/"><button type="button" class="btn btn-default">Back to Main Page</button></a>
    {{else}}
        <p>No locations</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}